<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<br>
<h3>Continuez pour procéder au paiement pour réserver une place :</h3>
<%= button_to "Passer Commande", orders_create_path(total: @event.price*100), class: "btn btn-primary btn-lg", remote: true %>